html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  td {
    text-align: center;
  }
  
  #mapid { height: 600px; }